---
layout: default
title: Trapnell lab / projects
categories:
 - projects
---


<div class="row featurette">
<div class="col-md-3"> <div class="title"> Biology </div></div>
<div class="col-md-9">
{% for project in site.categories.projects %}
    {% if project.project_type contains "Biology" %}
		<div class="col-md-12 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    	{% endif %}
{% endfor %}
</div>
</div>


<hr class="featurette-divider">

<!-- <div class="bigspacer"></div>
<div class="bigspacer"></div> -->

<div class="row featurette">
<div class="col-md-3"> <div class="title"> Technology </div></div>
<div class="col-md-9">
{% for project in site.categories.projects %}
    {% if project.project_type contains "Technology" %}
		<div class="col-md-12 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
      <div class="bigspacer"></div>
		</div>
    	{% endif %}
{% endfor %}
</div>
</div>

<hr class="featurette-divider">

<!-- <div class="bigspacer"></div>
<div class="bigspacer"></div> -->

<div class="row featurette">
<div class="col-md-3"> <div class="title"> Software </div></div>
<div class="col-md-9">
{% for project in site.categories.projects %}
    {% if project.project_type contains "Software" %}
		<div class="col-md-12 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    	{% endif %}
{% endfor %}
</div>
</div>


<!--
<div class="bigspacer"></div>
<center>
<div class="title">
Biology
</div>
</center>
<div class="bigspacer"></div>
{% for project in site.categories.projects %}
	{% if project.category contains "Biology" %}
    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-6 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    {% cycle 'close rows': nil, nil, '</div>' %}
	{% endif %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}
 -->
