---
layout: default
title: Trapnell lab / projects
categories:
 - projects
---

<div class="container" style="max-width: 950px">

  <div class="smallhead">
	The <strong>mission</strong> of the Trapnell lab is to understand how our genome encodes the program of our development and the role this program plays in disease. We develop and apply genomic tools, especially single-cell sequencing, to a variety of <emph>in vitro</emph> and animal model systems. Our goal for this work is to improve our understanding of these biological processes to more deeply understand how organisms develop and contribute to human knowledge. Our work spans three broad areas illustrated below.</div>
    <div class="bigspacer"></div>
    <center>
    <img src="{{ site.url }}/images/lab-mission.png" alt="..." class="img-responsive" style="width:75%;">
    </center>
    <div class="bigspacer"></div>
  <div class="smallhead">Our <strong>research strategy</strong> is to develop new algorithms and measurement technologies that will enable the community to quantitatively model how every gene is regulated in every cell type found in an animal. Lab members draw from computer science, statistics, and molecular cell biology to jointly develop both new assays and algorithms that fully exploit their capabilities. We are using our technologies to understand the genetic control of plasticity in key model systems of development and reprogramming.</div>

    <div class="bigspacer"></div>
    <p class="lead">You can learn more about current and past projects below:
    <div class="smallspacer"></div>
</div>

<hr>

<div class="row featurette">
<div class="col-lg-3"> <div class="title"> Development </div></div>
<div class="col-lg-9">
{% for project in site.categories.projects %}
    {% if project.project_type contains "Development"  and project.active_project == true%}
		<div class="col-lg-12 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    	{% endif %}
{% endfor %}
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-lg-3"> <div class="title"> Gene regulation </div></div>
	<div class="col-lg-9">
	{% for project in site.categories.projects %}
		{% if project.project_type contains "Gene regulation"  and project.active_project == true %}
			<div class="col-lg-12 projectbox">
				  <a class="pull-right" href="{{ paper.url }}">
					<img width=100 class="media-object" src="{{ project.image }}">
				  </a>
				<div class="head">
					<a href="{{ project.url }}" class="off">{{ project.title }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="note">
					<a href="{{ project.url }}" class="off">{{ project.description }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="bigspacer"></div>
			</div>
			{% endif %}
	{% endfor %}
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-lg-3"> <div class="title"> Technology </div></div>
		<div class="col-lg-9">
		{% for project in site.categories.projects %}
			{% if project.project_type contains "Technology"  and project.active_project == true %}
				<div class="col-lg-12 projectbox">
					  <a class="pull-right" href="{{ paper.url }}">
						<img width=100 class="media-object" src="{{ project.image }}">
					  </a>
					<div class="head">
						<a href="{{ project.url }}" class="off">{{ project.title }}</a>
					</div>
					<div class="smallspacer"></div>
					<div class="note">
						<a href="{{ project.url }}" class="off">{{ project.description }}</a>
					</div>
					<div class="smallspacer"></div>
					<div class="bigspacer"></div>
			  <div class="bigspacer"></div>
				</div>
				{% endif %}
		{% endfor %}
		</div>
		</div>
		


<hr class="featurette-divider">


<div class="row featurette">
	<div class="col-lg-3"> <div class="title"> Disease </div></div>
	<div class="col-lg-9">
	{% for project in site.categories.projects %}
		{% if project.project_type contains "Disease"  and project.active_project == true %}
			<div class="col-lg-12 projectbox">
				  <a class="pull-right" href="{{ paper.url }}">
					<img width=100 class="media-object" src="{{ project.image }}">
				  </a>
				<div class="head">
					<a href="{{ project.url }}" class="off">{{ project.title }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="note">
					<a href="{{ project.url }}" class="off">{{ project.description }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="bigspacer"></div>
			</div>
			{% endif %}
	{% endfor %}
	</div>
	</div>


<hr class="featurette-divider">

<!-- <div class="bigspacer"></div>
<div class="bigspacer"></div> -->


<!-- <div class="bigspacer"></div>
<div class="bigspacer"></div> -->

<div class="row featurette">
<div class="col-lg-3"> <div class="title"> Software </div></div>
<div class="col-lg-9">
{% for project in site.categories.projects %}
    {% if project.project_type contains "Software" and project.active_project == true %}
		<div class="col-lg-12 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    	{% endif %}
{% endfor %}
</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-lg-3"> <div class="title"> Past projects </div></div>
	<div class="col-lg-9">
	{% for project in site.categories.projects %}
		{% if project.active_project == false %}
			<div class="col-lg-12 projectbox">
				  <a class="pull-right" href="{{ paper.url }}">
					<img width=100 class="media-object" src="{{ project.image }}">
				  </a>
				<div class="head">
					<a href="{{ project.url }}" class="off">{{ project.title }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="note">
					<a href="{{ project.url }}" class="off">{{ project.description }}</a>
				</div>
				<div class="smallspacer"></div>
				<div class="bigspacer"></div>
			</div>
			{% endif %}
	{% endfor %}
	</div>
	</div>


<!--
<div class="bigspacer"></div>
<center>
<div class="title">
Biology
</div>
</center>
<div class="bigspacer"></div>
{% for project in site.categories.projects %}
	{% if project.category contains "Biology" %}
    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-lg-6 projectbox">
		  	<a class="pull-right" href="{{ paper.url }}">
    			<img width=100 class="media-object" src="{{ project.image }}">
  			</a>
			<div class="head">
				<a href="{{ project.url }}" class="off">{{ project.title }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="note">
				<a href="{{ project.url }}" class="off">{{ project.description }}</a>
			</div>
			<div class="smallspacer"></div>
			<div class="bigspacer"></div>
		</div>
    {% cycle 'close rows': nil, nil, '</div>' %}
	{% endif %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}
 -->
