---
layout: default
title: trapnell lab
categories:
 - home
---

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox" style="display:table-cell; vertical-align:middle">
		Trapnell Lab
		</div>
	</div>				
</div>

<div class="hugespacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
			The Trapnell Lab at the University of Washington's <a class="off" href="http://www.gs.washington.edu/">Department of Genome Sciences</a> studies cell differentiation, reprogramming, and other transitions between stable or metastable cellular states. We also study the role of cell-cell communication in governing these processes.  We aim to identify genes that control cellular transitions, primarily using single-cell genomics.    
		</div>
	</div>				
</div>

<div class="hugespacer"></div>

<hr class="featurette-divider">
<div class="col-lg-12">
		<div class="head">
			<a href="/papers/">
				Recent papers
			</a>
		</div>
		<div class="bigspacer"></div>
		<div class="col-lg-12 reduced-gutter">
			<div class="pad-left">		
			{% for paper in site.categories.papers limit:8 %}
				<div class="note">
					<i class="fa fa-file-text-o fa-fw"></i>
					<a class="off" href="{{ paper.url }}">
					{{ paper.title }}
					</a>
				</div>
				<div class="smallspacer"></div>
				<div class="smallnote">
					Posted
					{{ paper.date | date_to_string }}
				</div>
				<div class="spacer"></div>	
				<div class="spacer"></div>				
			{% endfor %}
			</div>
		</div>
		<div class="bigspacer"></div>		
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
				</li>
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>






