---
layout: default
title: trapnell lab / papers
---

<div class="bigspacer"></div>	
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-10">
	<div class="media">
	</div>
		<div class="media-body">
			<h3>Papers in <strong>bold</strong> were led or co-led by members of the Trapnell lab.</h3>
		</div>
</div>
</div>
<hr class="featurette-divider">

{% for paper in site.categories["papers"]  %}
	{% assign last_paper_year = this_paper_year %}
	{% capture this_paper_year %}{{ paper.date | date: '%Y'  }}{% endcapture %}
    {% capture next_paper_year %}{{ site.categories["papers"][forloop.index].date | date: '%Y' }}{% endcapture %}
	
    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-lg-2 paperbox">
				<div class="media-body">
				{% if forloop.first or this_paper_year != last_paper_year %}
					<div class="head media-heading" id="{{ this_year }}-ref">{{this_paper_year}}</div>
				{% endif %}
				</div>
		</div>
		<div class="col-lg-10 paperbox">
			<div class="media">
  				<a class="float-left" href="{{ paper.url }}">
    				<img class="mr-3" width=100 src="{{ paper.image }}">
				</a>
 			 	<div class="media-body">
					{% if paper.led_by_lab %}  
					<div class="smallhead mb-1"><strong><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></strong></div>
					{% else %}
    				<div class="smallhead mb-1"><a href="{{ paper.url }}" class="off">{{ paper.title }}</a></div>
					{% endif %}
					<p class="note">{{ paper.ref }}</p> <p class="note"><i>{{ paper.journal }}</i></p>
  				</div>
			</div>
        </div>
    {% cycle 'close rows': nil, nil, '</div><div class="bigspacer"></div>' %}
{% endfor %}
{% cycle 'close rows': nil, '</div><div class="bigspacer"></div>', '</div><div class="bigspacer"></div>' %}
