---
layout: default
categories: 
 - projects
---

{% for test in site.projects %}
	{% if test.title == page.project %}
		{% assign project = test %}
	{% endif %}
{% endfor %}

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="bigtitle">
			<ol class="breadcrumb">
			{% assign crumbs = page.title | breadcrumb_array %}
			{% for crumb in crumbs %}
				{% assign name = crumb | split: '/' | last %}
				{% for page in site.pages %}			
					{% if page.title == crumb %}
						{% assign url = page.url %}
					{% endif %}
				{% endfor %}
				<li><a class="off" href="{{ url | replace: 'index.html', '' }}">{{ name }}</a></li>
			{% endfor %}
			</ol>
		</div>
		<div class="head">
			{{ project.description }}
		</div>
	</div>				
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
    	{% if page.externurl %}
		<div class="smallhead">
			Project page
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-cog fa-fw"></i>
			<a class="off" href="http://{{ page.externurl }}">{{ page.title }}</a>
		</div>
        {% endif %}
        
        <div class="spacer"></div>	
    	{% if page.repo %}
		<div class="smallhead">
			Source code
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-cog fa-fw"></i>
			<a class="off" href="https://github.com/{{ page.repo }}">github.com/{{ page.repo }}</a>
		</div>
        {% endif %}
				
	</div>
	<div class="col-md-8">				
		<div class="post">
			{{ content }}
		</div>
        
		{% assign projectname = page.title %}
		{% for paper in site.categories.papers %}
		{% if paper.projects contains projectname %}
		{% assign papersq = true %}
		{% endif %}
		{% endfor %}

		{% if papersq == true %}
		<div class="bigspacer"></div>
		<div class="head">Papers</div>
		<div class="spacer"></div>
		{% for paper in site.categories.papers %}
		{% if paper.projects contains projectname %}
		<p><a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
		{% endif %}
		{% endfor %}
		{% endif %}		
				
		{% for post in site.categories.blog %}
		{% if member.title == post.author %}
		{% assign postsq = true %}
		{% endif %}
		{% endfor %}
		
		{% if postsq == true %}
		<div class="bigspacer"></div>		
		<div class="head">Posts</div>
		<div class="spacer"></div>
		{% for post in site.categories.blog %}
		{% if member.title == post.author %}
		<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
		{% endif %}
		{% endfor %}	
		{% endif %}	
        
        
	</div>			
	<div class="col-md-1"></div>
</div>

